version: '3'
services:
  hadoop-master1:
    image: hd-container:1.0
    hostname: hadoop-master1
    ports:
      - 2181:2181
      - 9092:9092
      - 5005:5005
      - 5006:5006
    volumes:
      - ~/bigdata/zookeeper:/opt/bigdata/zookeeper
      - ./etc-debug/zookeeper:/opt/bigdata/etc/zookeeper
      - ~/bigdata/kafka:/opt/bigdata/kafka
      - ./etc-debug/kafka:/opt/bigdata/etc/kafka
      - ./env/bigdata_env.sh:/etc/profile.d/bigdata_env.sh